<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="login_cuerpo">
    <article class="login">
        <form action="/login" method="POST">
            <div>
                <input type="text" name="usuario" placeholder="Ingrese su usuario">
                <input type="text" name="password" placeholder="Ingrese su contraseña">
            </div>
            <button type="submit">Ingresar</button>
        </form>
    </article>
    <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
</body>

</html>