<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body flex class="registro_cuerpo">
    <form action="/cargar_datos" method="'POST">

        <div class="formulario_registro">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="text" name="apellido" placeholder="Apellido">
            <input type="text" name="telefono" placeholder="Telefono">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="direccion" placeholder="Direccion">
        </div>

        <button type="submit">
            Registrarse
        </button>

    </form>
    
</body>
</html>