<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="/static/css/style3.css">
</head>
<body>
    <div class="container">
    <h1 class="tittle"> Registro de Pacientes</h1>
    <p>
    <form action="/cargar_datos" method="'POST">

        <div class="formulario_registro">
            <p>Nombre</p>
            <input type="text" name="nombre" placeholder="Nombre">

            <p>Apellido</p>
            <input type="text" name="apellido" placeholder="Apellido">

            <p>Telefono</p>
            <input type="text" name="telefono" placeholder="Telefono">

            <p>email</p>
            <input type="text" name="email" placeholder="Email">

            <p>Direccion</p>
            <input type="text" name="direccion" placeholder="Direccion">
        </div>

        <button class="btn" type="submit">
            Registrarse
        </button>
    </p>

    </form>
    </div>
    <div class="logo2"></div>
    
</body>
</html>