<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos de Dengue</title>
    <link rel="stylesheet" href="static\css\style2.css">
</head>
<body>
    <h1>Tipos de Dengue</h1>
    <p>Existen 4 tipos de virus de Dengue (serotipos 1, 2, 3 y 4). Cada persona puede tener los 4 serotipos, pero una infección causada por un determinado serotipo le confiere inmunidad de por vida contra ese serotipo en particular.</p>

    <p>Prevención:</p>
    <ul>
        <li>Realizar el descacharrado. Consiste en sacar de los hogares todo tipo de objetos que estén en viviendas, patios, jardines o peridomicilios que acumulen agua y representen un potencial alojamiento del mosquitos para la colocación de huevos.</li>
        <li>Evitar picaduras de mosquitos. Utilizar repelente; ropa clara y cubierta, especialmente luego de la caída del sol; dormir en espacios con protección para mosquitos; y utilizar insecticidas en el interior de las viviendas (espirales, tabletas termoevaporables, aerosoles).</li>
        <li>La fumigación no es suficiente para eliminar el mosquito. La aplicación de insecticidas es una medida destinada a eliminar a los mosquitos adultos pero no a los huevos y a las larvas. Su implementación debe ser evaluada por las autoridades sanitarias y siempre debe ser acompañada por acciones que promuevan la eliminación de todos los recipientes que acumulan agua.</li>
    </ul>

    <p>Prevención del Dengue</p>

    <p>Síntomas:</p>
    <ul>
        <li>Fiebre alta: mayor a 38.0º C</li>
        <li>Dolores musculares intensos</li>
        <li>Dolor detrás de los ojos</li>
        <li>Dolor de cabeza</li>
        <li>Malestar</li>
        <li>Falta de apetito</li>
        <li>Manchas rojas o sarpullido en el cuerpo, que puede picar</li>
        <li>Ante estos síntomas, se debe acudir al médico para recibir el tratamiento adecuado.</li>
    </ul>
    <button onclick="redirectToPage()" class="redirection-button">Esteadisticas de tu zona.</button>

    <script>
        function redirectToPage() {
            window.location.href = "/estadisticas";
        }
    </script>
    <a href="/login" class="logo">
    </a>
    
</body>
</html>